@import './global/body.css';
@import './global/typography.css';
@import './global/scrollbar.css';

@import './partials/preflight.css';
@import './partials/transitions.css';
@import './partials/actions.css';
@import './partials/options.css';
@import './partials/forms.css';
@import './partials/clipboard.css';
@import './partials/comments.css';
@import './partials/messages.css';
@import './partials/settings.css';
@import './partials/AddList.css';
@import './partials/artboard.css';
@import './partials/debug.css';
@import './partials/scaleToFit.css';
@import './partials/DraggingOverlay.css';
@import './partials/SelectionAdd.css';
@import './partials/AddButtonsRenderer.css';
@import './partials/EditableField.css';
@import './partials/ReadabilityChunkOverlay.css';
@import './partials/FlexTextarea.css';
@import './partials/Assistant.css';
@import './partials/Animator.css';
@import './partials/FormOverlay.css';
@import './partials/BlockNotImplemented.css';
@import './partials/ResponsivePreview.css';
@import './partials/Help.css';
@import './partials/Theme.css';
@import './partials/MediaLibrary.css';
@import './partials/CommandPalette.css';
@import './partials/ContextMenu.css';
@import './partials/Tour.css';
@import './partials/Error.css';
@import './partials/Banner.css';
@import './partials/AnimationCanvas.css';
@import './partials/Scrollbar.css';
@import './partials/SystemRequirements.css';
@import './partials/Pagination.css';
@import './partials/Validations.css';
@import './partials/ProxyField.css';
@import './partials/infobox.css';
@import './partials/Diff.css';
@import './partials/table.css';
@import './partials/Indicators.css';
@import './partials/Analyze.css';
@import './partials/Highlights.css';
@import './partials/Transform.css';
@import './../src/modules/agent/css/Agent.css';
@import './../src/modules/charts/css/Charts.css';
@import './partials/Konami.css';
@import './partials/Publish.css';
@import './partials/ArtboardTooltip.css';
@import './partials/BlockScheduler.css';
@import './partials/ImportExisting.css';
@import './partials/breadcrumbs.css';
@import './partials/BlockPreviewItem.css';
@import './partials/Templates.css';
@import './partials/PluginConfigForm.css';
@import './partials/NestedEditorOverlay.css';
@import './partials/StatusIcon.css';
@import './partials/AutoHeight.css';
@import './partials/Dropdown.css';
@import './partials/DevMode.css';
@import './partials/Popup.css';
@import './partials/DiffApproval/Highlight.css';
@import './partials/DiffApproval/Toolbar.css';

@import './indicator.css';

@import './components/pill.css';
@import './components/button.css';
@import './components/toggle.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PB Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/_blokkli-assets/Inter.var.woff2') format('woff2');
}

html {
  --bk-z-index-base: 50000;
}

.bk {
  @apply font-sans text-base text-mono-950 tracking-normal;
  border-color: theme('colors.mono.200');

  /* Scheme color classes */
  .bk-scheme-teal {
    --bk-scheme-light: var(--bk-theme-teal-light);
    --bk-scheme-normal: var(--bk-theme-teal-normal);
    --bk-scheme-dark: var(--bk-theme-teal-dark);
  }

  .bk-scheme-yellow {
    --bk-scheme-light: var(--bk-theme-yellow-light);
    --bk-scheme-normal: var(--bk-theme-yellow-normal);
    --bk-scheme-dark: var(--bk-theme-yellow-dark);
  }

  .bk-scheme-red {
    --bk-scheme-light: var(--bk-theme-red-light);
    --bk-scheme-normal: var(--bk-theme-red-normal);
    --bk-scheme-dark: var(--bk-theme-red-dark);
    --bk-scheme-text: 255 255 255;
  }

  .bk-scheme-lime {
    --bk-scheme-light: var(--bk-theme-lime-light);
    --bk-scheme-normal: var(--bk-theme-lime-normal);
    --bk-scheme-dark: var(--bk-theme-lime-dark);
  }

  .bk-scheme-orange {
    --bk-scheme-light: var(--bk-theme-orange-light);
    --bk-scheme-normal: var(--bk-theme-orange-normal);
    --bk-scheme-dark: var(--bk-theme-orange-dark);
  }

  .bk-scheme-mono {
    --bk-scheme-light: var(--bk-theme-mono-100);
    --bk-scheme-normal: var(--bk-theme-mono-600);
    --bk-scheme-dark: var(--bk-theme-mono-800);
    --bk-scheme-text: var(--bk-theme-mono-50);
  }

  .bk-scheme-accent {
    --bk-scheme-light: var(--bk-theme-accent-100);
    --bk-scheme-normal: var(--bk-theme-accent-600);
    --bk-scheme-dark: var(--bk-theme-accent-800);
    --bk-scheme-text: var(--bk-theme-accent-50);
  }

  &.bk-loading-overlay {
    @apply bg-mono-100/90 absolute top-0 left-0 w-full h-full z-init-overlay  flex items-center justify-center;
    &.bk-is-screen {
      @apply fixed w-screen h-screen bg-mono-100;
    }

    &.bk-is-white {
      @apply bg-white/90;
    }
    svg {
      @apply w-100 h-100 text-mono-200 animate-spin fill-mono-400;
    }
  }
}

.bk-is-analyzing {
  .bk,
  .bk-sidebar {
    @apply !hidden;
  }
}

.bk-blokkli-item-icon {
  width: 1em;
  height: 1em;
  svg {
    @apply w-full h-full fill-current;
  }
}

.bk .bk-blokkli-item-label {
  @apply flex items-center text-mono-700 text-left;
  > div {
    @apply shrink-0;
  }
  span {
    @apply text-sm truncate min-w-0;
  }
}

.bk-parent:hover .bk-blokkli-item-label,
.bk-blokkli-item-label:hover {
  .bk-blokkli-item-label-icon {
    @apply bg-mono-200 text-mono-900 border-mono-400;
  }
}

.bk-blokkli-item-label-icon {
  @apply w-25 h-25 border rounded bg-mono-100 flex items-center justify-center text-mono-500 mr-[7px] relative z-20 border-mono-300;
}

.bk {
  @apply text-base;
  strong,
  label,
  button {
    transition: none;
    min-inline-size: initial;
    margin: 0;
  }
  strong {
    color: inherit;
    gap: 0;
  }
  label {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    gap: 0;
  }
  button {
    @apply text-white text-left items-start justify-start;
    block-size: initial;
    border-radius: 0;
    box-shadow: none !important;
    gap: 0;
    &:hover {
      box-shadow: none !important;
    }
    &:after {
      display: none;
    }
  }
}
