@import './partials/preflight.css';
@import './partials/transitions.css';
@import './partials/actions.css';
@import './partials/toolbar.css';
@import './partials/history.css';
@import './partials/errors.css';
@import './partials/options.css';
@import './partials/dialog.css';
@import './partials/forms.css';
@import './partials/clipboard.css';
@import './partials/sidebar.css';
@import './partials/library.css';
@import './partials/comments.css';
@import './partials/structure.css';
@import './partials/resizable.css';
@import './partials/fieldAreas.css';
@import './partials/messages.css';
@import './partials/settings.css';
@import './partials/search.css';
@import './partials/AddList.css';
@import './partials/Transform.css';
@import './partials/artboard.css';
@import './partials/debug.css';
@import './partials/scaleToFit.css';
@import './partials/DraggingOverlay.css';
@import './partials/MultiSelect.css';
@import './partials/Selection.css';
@import './partials/EditableField.css';
@import './partials/Assistant.css';
@import './partials/AppMenu.css';
@import './partials/Animator.css';
@import './partials/FormOverlay.css';
@import './partials/ResponsivePreview.css';
@import './partials/Help.css';

@font-face {
  font-family: 'PB Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/Inter.var.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --bk-z-index-base: 50000;
}

.bk {
  @apply font-sans;

  letter-spacing: 0;

  &.bk-loading-overlay {
    @apply bg-slate-100/90 absolute top-0 left-0 w-full h-full z-init-overlay  flex items-center justify-center;
    &.bk-is-screen {
      @apply fixed w-screen h-screen backdrop-blur-xl;
    }
    svg {
      @apply w-100 h-100 text-slate-200 animate-spin fill-slate-400;
    }
  }
}

@keyframes pbSelectArea {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 8;
  }
}

.bk-body-loading {
  cursor: wait;
  .bk-draggable-list-container,
  .bk-control {
    pointer-events: none;
  }
}

.bk-draggable-list-container {
  @apply pointer-events-auto select-none;
  .bk-list-item {
    @apply bg-white p-20 font-bold;
  }
  .bk-list-item-inner {
    @apply flex gap-20 h-full items-center;
  }
  .bk-list-item-icon {
    width: 2rem;
    height: 2rem;
  }
}

.bk-button {
  @apply h-50 !px-20 inline-flex justify-center items-center gap-10 rounded-md !font-semibold  focus:outline-none transition !shadow !font-sans !text-base;
  @apply !text-slate-900 hover:!text-white;
  @apply !bg-slate-200 hover:!bg-slate-600;

  &.bk-is-primary {
    @apply !bg-blue-700 !text-white hover:!bg-blue-800;
    &[disabled] {
      @apply opacity-30;
    }
  }
  &.bk-is-danger {
    @apply !bg-red-600 !text-white hover:!bg-red-800;
    &[disabled] {
      @apply opacity-30;
    }
  }
  &.is-small {
    @apply h-40 !px-10 text-sm;
  }
  &.is-danger {
    @apply !bg-red-600 !text-white hover:!bg-red-800 !border-red-600 hover:!border-red-800;
  }
  &.is-icon-only {
    @apply !px-0 !w-50;
  }
  &[disabled] {
    @apply !pointer-events-none;
  }
  svg {
    @apply !fill-current;
    width: 1.5em;
    height: 1.5em;
  }

  &.bk-is-loading {
    @apply bg-no-repeat bg-center pointer-events-none;
    background-image: url(./loader.svg);
    @apply !text-transparent;
  }
}

.bk-blokkli-item-icon {
  width: 1em;
  height: 1em;
  svg {
    @apply w-full h-full fill-current;
  }
}

.bk-owner-indicator {
  @apply fixed bottom-0 right-0 bg-red-100 z-messages p-20 text-red-800 font-medium text-lg flex justify-between items-center;
  left: var(--bk-root-offset-left);
}

.bk-qr-code {
  canvas {
    @apply !w-full !h-auto aspect-square;
  }

  p {
    @apply my-20;
  }
}

.bk-draggable-list-container {
  .draggable {
    outline-offset: -3px;
    a,
    iframe,
    input,
    img,
    form,
    button {
      pointer-events: none;
    }
  }
}

[data-element-type='existing'] {
  user-select: none;
  > * {
    user-select: none;
  }
  a,
  button {
    pointer-events: none;
  }
}

.bk-field-list {
  position: relative;
  min-height: 30px;
}

@screen lg {
  .bk-body:not(.bk-is-selecting):not(.bk-is-dragging) {
    .bk-field-list {
      &:hover {
        outline: 1px dashed;
        .bk-field-list {
          outline: 1px dashed;
        }
      }
    }
    .bk-main-canvas {
      &:hover {
        .draggable {
          @apply outline-dashed outline-slate-400 outline-[1px];
        }
      }
    }
  }
}

.bk-body.bk-is-selecting {
  .bk-main-canvas {
    .draggable[data-is-selected='false'] {
      @apply mobile-only:outline-dashed mobile-only:outline-slate-400 mobile-only:outline-offset-0 mobile-only:outline-1;
    }
  }
}

.bk-body.bk-is-selecting * {
  @apply select-none;
  @screen md {
    /* pointer-events: none !important; */
  }
}

.bk-body {
  .bk-main-canvas {
    background: white;
  }
}

.bk-blokkli-item-label {
  @apply flex items-center text-slate-700 text-left;
  > div {
    @apply shrink-0;
  }
  span {
    @apply text-sm truncate min-w-0;
  }
}

.bk-parent:hover .bk-blokkli-item-label,
.bk-blokkli-item-label:hover {
  .bk-blokkli-item-label-icon {
    @apply bg-slate-200 text-slate-900 border-slate-400;
  }
}

.bk-blokkli-item-label-icon {
  @apply w-25 h-25 border rounded bg-slate-100 flex items-center justify-center text-slate-500 mr-[7px] relative z-20 border-slate-300;
}

.bk-html-root {
  --bk-outline-width: 2;
  --bk-radius: 4;
  --bk-artboard-scale: 1;

  .draggable {
    scroll-margin: calc(var(--bk-root-offset-top) + 20px);
  }
}

.bk,
.bk-html-preview {
  * {
    scrollbar-width: thin;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    @apply bg-slate-100;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-slate-400;
    border-radius: 20px;
  }
}

.bk-overlay {
  @apply bg-slate-800/90 backdrop-blur-md;
}

.bk-touch-action-bar {
  @apply fixed bottom-0 left-0 w-full z-touch-action-bar bg-slate-900 h-50 pointer-events-auto;

  button {
    @apply w-full  h-full min-h-0 rounded-none;
  }
}

.bk-lead {
  @apply text-xl text-slate-600;
}

html:not(.bk-use-animations) {
  *,
  *:before,
  *:after {
    transition: none !important;
  }
}
