# Dependencies
node_modules
storage

# Logs
*.log*

# Temp directories
.temp
.tmp
.cache

# Yarn
**/.yarn/cache
**/.yarn/*state*

# Generated dirs
dist

# Nuxt
.nuxt
.output
.data
.vercel_build_output
.build-*
.netlify

# Env
.env

# Testing
reports
coverage
*.lcov
.nyc_output

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
src/runtime/css

docs/.vitepress/cache

playground/app/blokkli/apiReadabilityAnalyzer.ts
playground/blokkli/skills/einfacheSprache.ts

.yalc
yalc.lock
src/module/used-icons.ts
src/runtime/material-icons/index.ts

src/runtime/editor/icons/material-icons.ts

src/runtime/editor/css/output.css

playground/public/uploads/

packages/agent
packages/kit
