.bk {
  #bk-blokkli-item-actions-title {
    height: var(--bk-actions-height);
    @apply w-[160px] lg:w-[240px];
  }
  .bk-blokkli-item-actions-title-count {
    @apply bg-mono-50 text-mono-900 inline-flex items-center justify-center px-3 min-w-[1.5em] h-[1.5em] rounded-full ml-10 text-xs lg:text-sm font-bold leading-none;
    &.bk-is-hidden {
      @apply opacity-0;
    }
  }
  &.bk-blokkli-item-actions-inner {
    @apply fixed left-0 p-0 z-actions w-full text-mono-50  select-none text-sm pointer-events-auto;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    /* contain: layout style paint; */
    bottom: var(--bk-root-offset-bottom);
    @screen lg {
      @apply top-0 w-auto;
      bottom: initial;
    }
  }
  .bk-blokkli-item-actions-controls {
    @apply flex items-stretch whitespace-nowrap h-full flex-wrap lg:flex-nowrap;
    @apply bg-mono-950/90 backdrop-blur;
    @apply relative z-50;

    @apply lg:rounded-md;

    color-scheme: dark;

    &.bk-is-locked {
      @apply pointer-events-none;
      .bk-blokkli-item-actions-buttons > button,
      .bk-blokkli-item-options > .bk-blokkli-item-options-item {
        @apply opacity-20;
      }
    }

    html.bk-low-performance-mode & {
      @apply backdrop-filter-none;
    }

    &::-webkit-scrollbar {
      display: none;
    }
    @screen lg {
      @apply filter-none backdrop-filter-none;
      @apply border border-mono-400;
      @apply outline outline-1 outline-mono-700;
      @apply bg-mono-900;
    }
  }

  .bk-item-action {
    @apply text-mono-300 h-full flex items-center shrink-0  justify-center relative lg:static z-50;
    max-width: var(--bk-actions-height);
    flex: 1 0 auto;
    @screen lg {
      width: var(--bk-actions-height);
      flex: initial;
    }
    &.bk-is-active {
      @apply bg-white text-mono-900 z-50;
    }
    .bk-tooltip {
      @apply absolute bottom-full left-0 min-w-full mb-3;
    }
    @screen lg {
      &:not(:hover) {
        .bk-tooltip {
          @apply hidden;
        }
      }
    }

    &:not([disabled]) {
      @apply lg:hover:bg-mono-700 lg:hover:text-mono-50;
    }

    &[disabled] {
      @apply cursor-not-allowed;
      .bk-item-action-icon {
        @apply opacity-25;
      }
    }
  }

  .bk-blokkli-item-actions-buttons {
    @apply relative flex flex-1 lg:flex-initial;
  }
  .bk-item-action-icon {
    @apply pointer-events-none;
    svg {
      @apply w-20 h-20 lg:w-25 lg:h-25 fill-current;
    }
  }
  .bk-blokkli-item-actions-buttons:last-child button.bk-is-last {
    @apply lg:rounded-e-md;
  }

  .bk-blokkli-item-actions-title-icon,
  .bk-blokkli-item-actions-type-dropdown-icon {
    @apply text-xl lg:text-[34px] mr-[0.25em] size-[1em] relative;
    > .bk-blokkli-item-icon,
    > .bk-icon {
      svg {
        @apply w-[0.7em] h-[0.7em] fill-current absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
      }
    }
    .bk-blokkli-item-actions-title-icon-reusable {
      @apply absolute z-50;
      @apply -top-[7px] -right-[7px];
      @apply bg-lime-dark;
      @apply size-20;
      @apply flex items-center justify-center;
      @apply rounded-full;
      @apply border border-lime-normal;
      @apply shadow-lg;
      svg {
        @apply size-[12px] fill-lime-light;
      }
    }
  }
  .bk-blokkli-item-actions-type-button,
  .bk-blokkli-item-actions-type-dropdown-button {
    @apply pl-[9px] lg:pr-15;
  }

  .bk-blokkli-item-actions-type-button {
    @apply flex items-center cursor-default lg:min-w-[180px] text-mono-300 font-bold h-full leading-none relative;
    @apply text-xs lg:text-base;
    @apply w-full;
    @apply lg:rounded-l-md;
    .bk-blokkli-item-actions-title-label {
      @apply truncate mr-auto;
    }
    .bk-blokkli-item-actions-title-icon {
      flex: 0 0 auto;
    }

    .bk-tooltip {
      @apply absolute left-0 w-full bottom-full invisible mb-3;
    }

    &:hover {
      .bk-tooltip {
        @apply visible;
      }
    }

    &.is-interactive {
      @apply cursor-pointer;
      @media not all and (hover: none) {
        &:not(.is-open) {
          @apply hover:text-mono-50 hover:bg-mono-700;
        }
      }
    }
    &.is-open {
      @apply lg:bg-mono-700 text-white rounded-b-none;
      .bk-caret {
        @apply transform rotate-180;
      }
    }
    .bk-caret {
      @apply ml-5;
      svg {
        @apply pointer-events-none size-15 fill-current md:size-20;
      }
    }
  }

  #bk-blokkli-item-actions {
    @apply lg:border-l lg:border-l-mono-600 justify-end;
  }

  .bk-blokkli-item-actions-type {
    @apply relative h-full;
  }

  .bk-blokkli-item-actions-type-dropdown {
    @apply absolute bottom-full left-0 min-w-[300px] bg-mono-900 text-mono-200 shadow-xl-inverted lg:rounded-tr w-screen lg:w-auto flex flex-col;
    > div {
      @apply border-b border-b-mono-700;
    }
    @screen lg {
      @apply top-full bottom-auto shadow-xl rounded-t-none rounded-b left-[-2px];
      @apply border-b-2 border-mono-400 border-l-2 border-r-2;
    }
    li {
      @apply relative;
    }
    h3 {
      @apply p-10 pt-15 font-semibold uppercase text-xs tracking-wide text-mono-400;
    }
    .bk-blokkli-item-icon,
    .bk-icon {
      @apply flex items-center justify-center shrink-0;
      @apply size-25;
      svg {
        @apply fill-current;
      }
    }
  }

  .bk-blokkli-item-actions-type-dropdown-button {
    @apply flex w-full font-semibold lg:text-base text-mono-300 items-center;
    text-align: left;
    line-height: 1;
    height: var(--bk-actions-height);
    &[disabled] {
      @apply pointer-events-none opacity-20;
    }
    @screen lg {
      &:hover {
        @apply text-white bg-mono-800;
        .bk-icon,
        .bk-blokkli-item-icon {
          @apply border-mono-300;
        }
        .bk-description {
          @apply text-white;
        }
      }
    }

    &:hover {
      .bk-tooltip {
        @apply !visible;
      }
    }

    .bk-tooltip {
      @apply absolute left-full top-1/2 -translate-y-1/2 ml-10 invisible;
    }
  }

  .bk-blokkli-item-actions-comment {
    /* @apply relative; */
  }

  .bk-blokkli-item-actions-title-pill {
    @apply text-xs uppercase leading-none ml-auto;
    @apply rounded-full px-5 py-3;
    @apply bg-mono-700 text-mono-200;
    @apply border border-mono-500 font-bold;
  }
}
