.bk.bk-add-list {
  @apply pointer-events-auto relative z-add-list bg-mono-900;
  @apply w-70 h-full relative;

  grid-area: left;

  .bk-add-list-inner {
    @apply absolute top-0 left-0 h-full overflow-auto transition-all ease-swing duration-200 w-auto;
    @apply bg-mono-900;
    @apply flex flex-col;
    @apply border-t border-t-mono-700;
    clip-path: rect(0px 70px 100% 0px);

    &.bk-is-active {
      clip-path: rect(0px 100% 100% 0px);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  #blokkli-add-list-blocks {
    @apply grid pb-25;
  }

  #blokkli-add-list-actions {
    @apply grid;
    @apply sticky bottom-0 bg-mono-800 border-t border-t-mono-700;
    @apply mt-auto;

    .bk-add-item {
      @apply bg-mono-800;
    }

    &:after {
      content: '';
      @apply block w-full h-40 sticky bottom-0 z-50 pointer-events-none;
      @apply absolute bottom-full left-0 mb-1;
      background: linear-gradient(
        theme('colors.mono.900/0') 30%,
        theme('colors.mono.900')
      );
    }
  }
}

.bk-add-list-inner.bk-is-active,
.bk-dragging-overlay {
  .bk-add-item-label {
    @apply !opacity-100;
  }
}

.bk-add-item:hover,
.bk-dragging-overlay {
  .bk-add-item {
    @apply !opacity-100;
  }
  .bk-add-item-label {
    @apply !text-white;
  }
}

.bk {
  .bk-add-item {
    @apply bg-mono-900 rounded-md relative overflow-hidden;
    @apply flex whitespace-nowrap items-center w-full min-w-fit;

    &.bk-is-disabled {
      @apply opacity-30;
      &:hover {
        @apply opacity-100;
      }
    }
  }

  .bk-add-item + .bk-add-item {
    @apply -mt-10;
  }

  .bk-add-item-label {
    @apply font-semibold text-lg pl-3 pr-25 text-mono-400 opacity-0 transition-opacity duration-200;
  }

  .bk-add-item-icon {
    @apply size-70 p-10 shrink-0;
  }

  .bk-add-item-icon-inner {
    @apply aspect-square flex items-center justify-center;
    @apply rounded border;

    .bk-blokkli-item-icon {
      @apply size-auto;
    }

    svg {
      @apply size-30 fill-current;
    }
  }
}

.bk-add-item-icon .bk-add-item-icon-inner.bk-is-default {
  @apply border-mono-500 bg-mono-800 text-mono-200;
  .bk-add-item:hover &,
  .bk-dragging-overlay & {
    @apply border-mono-400 bg-mono-700 text-mono-50;
  }
}

.bk-add-item-icon .bk-add-item-icon-inner.bk-is-yellow {
  @apply bg-yellow-normal/20 border-yellow-normal/50 text-yellow-light;
  .bk-add-item:hover &,
  .bk-dragging-overlay & {
    @apply bg-yellow-normal/30 border-yellow-normal/90 text-yellow-light;
  }
}

.bk-add-item-icon .bk-add-item-icon-inner.bk-is-rose {
  @apply bg-red-dark border-red-normal text-red-light;
  .bk-add-item:hover &,
  .bk-dragging-overlay & {
    @apply bg-red-normal border-red-light/70 text-white;
  }
}

.bk-add-item-icon .bk-add-item-icon-inner.bk-is-lime {
  @apply bg-lime-dark border-lime-normal text-lime-light;
  .bk-add-item:hover &,
  .bk-dragging-overlay & {
    @apply bg-lime-normal border-lime-light text-white;
  }
}

.bk-add-item-icon .bk-add-item-icon-inner.bk-is-accent {
  @apply bg-accent-900 border-accent-500 text-accent-50;
  .bk-add-item:hover &,
  .bk-dragging-overlay & {
    @apply bg-accent-700  border-accent-400 text-white;
  }
}
