.bk {
  .bk-list {
    @apply relative z-30;
    &::-webkit-scrollbar {
      display: none;
    }
    .bk-list-item-icon {
      @apply overflow-hidden;
      svg {
        @apply fill-current;
      }
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .bk-list-item-inner {
      @apply relative flex text-slate-200 rounded items-center justify-center text-sm leading-3 z-10 border border-slate-800 lg:border-slate-600 gap-5;
      @apply md:w-[1em];
      @apply bg-slate-900 lg:bg-slate-800;
      font-size: 20px;
      @apply px-10 py-5;
      @screen md {
        font-size: 30px;
        @apply w-full h-auto aspect-square p-0;
      }
    }

    .bk-list-item.bk-is-rose .bk-list-item-inner {
      @apply bg-rose-900 border-rose-600 text-rose-100;
    }

    .bk-list-item.bk-is-rose {
      @media not all and (hover: none) {
        &:hover {
          .bk-list-item-inner {
            @apply bg-rose-800 border-rose-500 text-white;
          }
        }
      }
    }

    .bk-list-item.bk-is-lime .bk-list-item-inner {
      @apply bg-lime-800 border-lime-600 text-lime-50;
    }

    .bk-list-item.bk-is-lime {
      @media not all and (hover: none) {
        &:hover {
          .bk-list-item-inner {
            @apply bg-lime-700 border-lime-500 text-white;
          }
        }
      }
    }
  }
}

.bk-list-item.bk-is-horizontal,
.bk-list-item.bk-is-vertical {
  @apply touch-manipulation relative;
  &.bk-is-disabled {
    @apply pointer-events-none;
    .bk-list-item-inner {
      @apply bg-slate-900;
    }
    .bk-list-item-label {
      @apply text-slate-700;
    }
    .bk-list-item-icon {
      @apply text-slate-800;
    }
  }

  .bk-icon {
    @apply w-[1em] h-[1em];
  }
  flex: 0 0 auto;

  @media not all and (hover: none) {
    &:hover {
      .bk-list-item-inner {
        @apply bg-slate-700 text-white border-slate-400;
      }
      .bk-list-item-label span {
        @apply text-white;
      }
    }
  }
}

.bk-list-item.bk-is-vertical {
  .bk-list-item-label {
    @apply absolute whitespace-nowrap opacity-0 text-slate-100/50  transition w-[300px] text-left;
    @apply top-0 left-full p-10 h-full ml-[7px];
    @apply text-lg font-semibold;
  }
  @apply w-70 px-10 py-5 cursor-grab block;
  @screen md {
    &:first-child {
      @apply pt-10;
    }
  }
}

.bk.bk-add-list {
  @apply bottom-0 fixed left-0 select-none z-add-list overflow-auto ease-swing transition-all;
  @apply touch-manipulation;

  &.bk-is-vertical {
    @apply w-[70px] lg:overflow-hidden;

    &:after {
      @apply w-70;
      @apply top-0 left-0 h-full border-t md:border-t-slate-700 bg-slate-950 lg:bg-slate-900;
      @apply origin-left;
      @apply absolute z-0 pointer-events-none;
      @apply transition bg-slate-900 ease-swing;
      content: '';
    }

    .bk-list {
      @apply h-full absolute top-0 left-0 w-full flex flex-col;
    }
    @apply top-50 w-70;
    #blokkli-add-list-actions {
      @apply border-t border-t-slate-700 pb-5;
    }

    #blokkli-add-list-blocks {
      @apply flex-1 overflow-auto overflow-x-hidden;
    }

    &.bk-is-active {
      @apply w-[300px];
      &:after {
        transform: scaleX(calc(300 / 70));
      }
      .bk-list-item-label {
        @apply opacity-100;
      }
    }
  }
  &.bk-is-horizontal {
    @apply w-full flex md:py-5 bg-slate-950 overflow-y-hidden lg:overflow-visible;

    height: var(--bk-root-offset-bottom);
    #blokkli-add-list-actions {
      @apply flex border-r border-r-slate-800 md:border-r-slate-700 px-5;
      @apply order-first lg:order-last lg:border-r-0 lg:border-l lg:border-l-slate-800;
      flex: 0 0 auto;

      .bk-list-item-label {
        @apply hidden lg:block;
      }
      .bk-list-item-inner {
        @apply px-5;
      }
    }
    #blokkli-add-list-blocks {
      @apply flex px-5;
    }
    .bk-list {
      @apply flex lg:mx-auto;
    }
    .bk-list-item-label {
      @apply text-xs;
      @screen md {
        @apply absolute left-0 bottom-full opacity-0 mb-15 text-base;
        @apply left-1/2 -translate-x-1/2;
      }
    }
    .bk-list-item {
      @apply px-5 py-5 cursor-grab;
      &:hover {
        .bk-list-item-label {
          @apply opacity-100;
        }
      }

      &:first-child {
        .bk-list-item-label {
          @apply left-0 translate-x-0;
        }
      }
      &:hover {
        .bk-list-item-label {
          @apply opacity-100;
        }
      }
    }
    .bk-list-item-inner {
      @screen md {
        @apply w-auto h-full;
      }
    }

    &.bk-is-active {
    }
  }
  &.bk-is-disabled {
    @apply pointer-events-none;
    .bk-list {
      @apply opacity-20;
    }
  }
  .bk-add-list-drop {
    @apply opacity-0;
  }
}

.bk-add-list-drop {
  @apply absolute top-0 left-0 w-[300px] pointer-events-none py-10;
  @apply bg-slate-200 text-slate-900 flex gap-10 text-base font-semibold items-center rounded-md whitespace-nowrap px-15;
  .bk-blokkli-item-icon {
    flex: 0 0 auto;
  }

  &.bk-is-rose {
    @apply bg-rose-600 text-white;
  }

  &.bk-is-lime {
    @apply bg-lime-600 text-white;
  }

  &.bk-is-dark {
    @apply bg-slate-900 text-white;
  }

  .bk-add-list-drop-icon {
    .bk-icon,
    .bk-blokkli-item-icon {
      @apply !w-auto !h-auto;

      svg {
        @apply fill-current;
        @apply w-40 h-40;
      }
    }
  }
}

.bk-list-item.bk-is-sidebar {
  @apply relative;
  @apply block text-lg bg-white px-15 py-10 text-slate-600;

  &.bk-is-disabled {
    @apply text-slate-300;
    .bk-list-item-icon {
      @apply opacity-30;
    }
  }

  &:hover {
    @apply text-slate-950;
    .bk-list-item-icon {
      @apply bg-slate-200 border-slate-600 text-slate-700;
    }
  }
  .bk-list-item-label {
    @apply font-medium text-base;
  }
  .bk-list-item-inner {
    @apply flex items-center gap-15 h-full;
  }
  .bk-icon {
    @apply w-[1em] h-[1em];
    svg {
      @apply fill-current;
    }
  }
  .bk-list-item-icon {
    @apply text-3xl text-slate-500 bg-slate-50 p-[0.2em] rounded border border-slate-300;
  }

  &.bk-is-rose .bk-list-item-icon {
    @apply bg-rose-50 border-rose-300 text-rose-400;
  }

  &.bk-is-rose {
    @media not all and (hover: none) {
      &:hover {
        @apply text-rose-900;
        .bk-list-item-icon {
          @apply bg-rose-200 border-rose-400 text-rose-800;
        }
      }
    }
  }

  &.bk-is-lime .bk-list-item-icon {
    @apply bg-lime-50 border-lime-400 text-lime-600;
  }

  &.bk-is-lime {
    @media not all and (hover: none) {
      &:hover {
        @apply text-lime-900;
        .bk-list-item-icon {
          @apply bg-lime-200 border-lime-400 text-lime-800;
        }
      }
    }
  }
}

.bk-list-sidebar {
  container-type: inline-size;
  #blokkli-add-list-blocks,
  #blokkli-add-list-actions {
    @apply grid grid-cols-1 text-slate-950;
    @container (min-width: 400px) {
      @apply grid-cols-2;
      .bk-list-item {
        @apply py-15;
      }
      .bk-list-item-inner {
        @apply flex-col;
      }
    }
    @container (min-width: 500px) {
      @apply grid-cols-3;
      .bk-list-item {
        @apply py-20;
      }
      .bk-list-item-inner {
        .bk-list-item-icon {
          @apply text-4xl;
        }
      }
    }
    @container (min-width: 600px) {
      @apply grid-cols-4;
      .bk-list-item-inner {
        @apply text-lg;
        .bk-list-item-icon {
          @apply text-5xl;
        }
      }
    }
    @container (min-width: 800px) {
      @apply grid-cols-5;
    }
    @container (min-width: 1000px) {
      @apply grid-cols-6;
    }
    @container (min-width: 1200px) {
      @apply grid-cols-7;
    }
    @container (min-width: 1400px) {
      @apply grid-cols-8;
    }
    @container (min-width: 1600px) {
      @apply grid-cols-9;
    }
  }
  #blokkli-add-list-actions {
    @apply border-t border-t-slate-200;
  }

  .bk-add-list-drop {
    @apply opacity-0;
  }
}

.bk-list-sidebar-form {
  @apply p-15;
}
