.bk {
  .bk-list {
    @apply relative z-30;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .bk-list-item {
    @apply touch-manipulation;
    &.bk-is-disabled {
      @apply pointer-events-none;
      .bk-list-item-inner {
        @apply bg-slate-900;
      }
      .bk-list-item-label {
        @apply text-slate-700;
      }
      .bk-list-item-icon {
        @apply text-slate-800;
      }
    }

    &.bk-is-rose {
      .bk-list-item-inner {
        @apply bg-rose-950 border-rose-800 text-rose-100;
      }
      @media not all and (hover: none) {
        &:hover {
          .bk-list-item-inner {
            @apply bg-rose-900 border-rose-600 text-rose-50;
          }
        }
      }
    }

    &.bk-is-lime {
      .bk-list-item-inner {
        @apply bg-lime-950 border-lime-800 text-lime-100;
      }
      @media not all and (hover: none) {
        &:hover {
          .bk-list-item-inner {
            @apply bg-lime-900 border-lime-600 text-lime-50;
          }
        }
      }
    }

    .bk-icon {
      @apply w-[1em] h-[1em];
    }
    flex: 0 0 auto;

    @media not all and (hover: none) {
      &:hover {
        .bk-list-item-inner {
          @apply bg-slate-700 text-white border-slate-400;
        }
        .bk-list-item-label span {
          @apply text-white;
        }
      }
    }
  }

  .bk-list-item-inner {
    @apply relative flex text-slate-200 rounded items-center justify-center text-sm leading-3 z-10 border border-slate-800 lg:border-slate-600 gap-5;
    @apply md:w-[1em];
    @apply bg-slate-900 lg:bg-slate-800;
    font-size: 20px;
    @apply px-10 py-5;
    @screen md {
      font-size: 30px;
      @apply w-full h-auto aspect-square p-0;
    }
  }

  .bk-list-item-icon {
    @apply relative overflow-hidden;
    svg {
      @apply fill-current;
    }
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bk.bk-add-list {
  @apply bottom-0 fixed left-0 select-none z-add-list overflow-auto lg:overflow-hidden ease-swing transition-all;
  @apply touch-manipulation;

  &.bk-is-vertical {
    @apply w-[70px];

    &:after {
      @apply w-70;
      @apply top-0 left-0 h-full border-t md:border-t-slate-700 bg-slate-950 lg:bg-slate-900;
      @apply origin-left;
      @apply absolute z-0 pointer-events-none;
      @apply transition bg-slate-900 ease-swing;
      content: '';
    }

    .bk-list {
      @apply h-full overflow-auto overflow-x-hidden absolute top-0 left-0 w-full;
    }
    @apply top-50 w-70;
    #blokkli-add-list-actions {
      @apply border-b border-b-slate-700 pb-5;
    }
    .bk-list-item-label {
      @apply absolute whitespace-nowrap opacity-0 text-slate-100/50  transition w-[300px] text-left;
      @apply top-0 left-full p-10 h-full ml-[7px];
      @apply text-lg font-semibold;
    }
    .bk-list-item {
      @apply w-70 px-10 py-5 cursor-grab block;
      @screen md {
        &:first-child {
          @apply pt-10;
        }
      }
    }

    &.bk-is-active {
      @apply w-[300px];
      &:after {
        transform: scaleX(calc(300 / 70));
      }
      .bk-list-item-label {
        @apply opacity-100;
      }
    }
  }
  &.bk-is-horizontal {
    @apply w-full flex md:py-5 bg-slate-900;

    height: var(--bk-root-offset-bottom);
    #blokkli-add-list-actions {
      @apply flex border-r border-r-slate-700 px-5;
      flex: 0 0 auto;

      .bk-list-item-label {
        @apply hidden lg:block;
      }
      .bk-list-item-inner {
        @apply px-5;
      }
    }
    #blokkli-add-list-blocks {
      @apply flex px-5;
    }
    .bk-list {
      @apply flex lg:mx-auto;
    }
    .bk-list-item-label {
      @apply text-xs;
      @screen md {
        @apply absolute left-0 bottom-full opacity-0 mb-15 text-base;
        @apply left-1/2 -translate-x-1/2;
      }
    }
    .bk-list-item {
      @apply px-5 py-5 cursor-grab;
      &:hover {
        .bk-list-item-label {
          @apply opacity-100;
        }
      }

      &:first-child {
        .bk-list-item-label {
          @apply left-0 translate-x-0;
        }
      }
      &:hover {
        .bk-list-item-label {
          @apply opacity-100;
        }
      }
    }
    .bk-list-item-inner {
      @screen md {
        @apply w-auto h-full;
      }
    }

    &.bk-is-active {
    }
  }
  &.bk-is-disabled {
    @apply pointer-events-none;
    .bk-list {
      @apply opacity-20;
    }
  }

  .bk-add-list-drop {
    @apply absolute top-0 left-0 opacity-0 w-auto;
  }
}

.bk-add-list-drop {
  @apply bg-slate-900 text-white flex h-50 gap-10 text-base font-semibold items-center rounded-md whitespace-nowrap min-w-[200px] px-15;
  .bk-blokkli-item-icon {
    flex: 0 0 auto;
  }
}
