.bk-animator {
  @apply absolute top-0 left-0 w-full h-full pointer-events-none z-[9999999999];

  > div {
    @apply absolute;

    &.bk-is-animation-leave {
      animation: 0.3s bk-animator-leave ease;
    }
    &.bk-is-animation-enter {
      animation: 0.3s bk-animator-enter ease;
    }
  }
}

@keyframes bk-animator-leave {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes bk-animator-enter {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
