.bk-html-root.bk-is-artboard,
.bk-html-root.bk-is-artboard .bk-body {
  @apply overflow-hidden h-screen w-screen;
}

.bk-html-root {
  --bk-root-offset-left-sidebar: 0px;
  --bk-root-offset-left-add-list: 0px;
  --bk-root-offset-left: calc(
    var(--bk-root-offset-left-sidebar) + var(--bk-root-offset-left-add-list)
  );
  --bk-root-offset-top: 80px;
  --bk-root-offset-bottom: 0px;
  --bk-root-offset-right: 0px;
  --bk-actions-height: 50px;
  @screen lg {
    --bk-root-offset-top: 50px;
    --bk-actions-height: 50px;
    --bk-root-offset-right: 50px;
  }
  &.bk-has-add-list-left {
    --bk-root-offset-left-add-list: 70px;
  }
  &.bk-has-sidebar-left {
    --bk-root-offset-left-sidebar: 400px;
  }

  &.bk-has-add-list-bottom {
    --bk-root-offset-bottom: 50px;
    @screen lg {
      --bk-root-offset-bottom: 70px;
    }
  }
}

.bk-html-root:not(.bk-is-artboard) .bk-main-canvas {
  @apply relative;
  padding-top: var(--bk-root-offset-top);
  margin-left: var(--bk-root-offset-left);
  margin-bottom: var(--bk-root-offset-bottom);
  overflow: hidden;
}

.bk-html-root.bk-is-artboard {
  @apply overflow-hidden;

  .bk-body {
    @apply overflow-hidden;
  }
  #nuxt-root {
    @apply bg-mono-200 overflow-hidden fixed right-0;
    left: 0;
    /* top: var(--bk-root-offset-top); */
    top: 0;
    bottom: var(--bk-root-offset-bottom);
    &.bk-has-preview-open {
      @apply left-[445px];
    }
  }
  .bk-main-canvas {
    @apply shadow-xl absolute top-0 left-0 xl:w-[80vw] w-screen lg:w-full lg:min-w-[1280px] max-w-[1920px] pointer-events-none;
    user-select: none;
    /* image-rendering: crisp-edges; */
    backface-visibility: hidden;
    transform-origin: 0 0;
    transform: translateZ(0);
    /* will-change: translate, scale; */
  }

  .bk-body.bk-is-pressing-space {
    @apply cursor-move;
    .bk-main-canvas,
    .bk-draggable-list-container * {
      @apply !pointer-events-none;
    }
  }

  .bk-artboard-scrollbar {
    @apply fixed w-10 bg-mono-500/10 z-artboard-scrollbar rounded-full transition overflow-hidden;
    top: calc(var(--bk-root-offset-top) + 5px);
    bottom: calc(var(--bk-root-offset-bottom) + 5px);

    button {
      @apply bg-mono-500/50  w-full block rounded-full;
    }

    &.bk-is-active,
    &:hover {
      @apply opacity-100 bg-mono-500/40;
      button {
        @apply bg-mono-600;
      }
    }

    &.bk-is-active button,
    button:hover {
      @apply bg-mono-500;
    }
  }
}

.bk-artboard-debug-canvas {
  @apply fixed top-0 left-0 w-screen h-screen z-[9999999] pointer-events-none;
}

.bk-artboard-debug {
  @apply fixed top-0 left-0 w-screen  z-[9999999] pointer-events-none;
  @apply pt-80 p-10 bg-white/75;

  > div {
    @apply flex justify-between;
  }
}
