.bk.bk-artboard-tooltip {
  --bk-gap: 15px;
  --bk-caret-size: 10px;

  @apply absolute lg:absolute left-0 z-selection-add will-change-transform bottom-50 lg:bottom-auto lg:top-0 pointer-events-auto;

  &:before,
  &:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    @apply absolute;
    transform: translateX(
      calc(((var(--bk-caret-x)) * 1px) - var(--bk-caret-size))
    );
  }

  &:before {
    --bk-header-bg: var(--bk-border);
  }

  &.bk-is-y-top {
    &:before,
    &:after {
      border-width: var(--bk-caret-size) var(--bk-caret-size) 0
        var(--bk-caret-size);
      border-color: var(--bk-header-bg) transparent transparent transparent;
      @apply top-full left-0;
    }

    &:after {
      --bk-header-bg: var(--bk-bg);
    }

    &:after {
      @apply -mt-1;
    }
  }

  &.bk-is-y-bottom {
    &:before,
    &:after {
      border-width: 0 var(--bk-caret-size) var(--bk-caret-size)
        var(--bk-caret-size);
      border-color: transparent transparent var(--bk-header-bg) transparent;
      @apply bottom-full;
    }

    &:after {
      @apply -mb-1;
    }
  }

  &.bk-is-y-center {
    /* No vertical caret when centered */
    &:before,
    &:after {
      @apply hidden;
    }
  }

  &.bk-is-x-right {
    /* Caret on left side pointing left */
    &:before,
    &:after {
      border-width: var(--bk-caret-size) var(--bk-caret-size)
        var(--bk-caret-size) 0;
      border-color: transparent var(--bk-header-bg) transparent transparent;
      @apply right-full top-1/2 left-auto;
      transform: translateX(0) translateY(-50%);
    }

    &:after {
      @apply -mr-1;
    }
  }

  &.bk-is-x-left {
    /* Caret on right side pointing right */
    &:before,
    &:after {
      border-width: var(--bk-caret-size) 0 var(--bk-caret-size)
        var(--bk-caret-size);
      border-color: transparent transparent transparent var(--bk-header-bg);
      @apply left-full top-1/2 right-auto;
      transform: translateX(0) translateY(-50%);
    }

    &:after {
      @apply -ml-1;
    }
  }

  .bk-artboard-tooltip-inner {
    @apply lg:rounded-md;
    @apply lg:shadow-2xl;
    border: 1px solid var(--bk-border);
    background: var(--bk-bg);
  }

  .bk-artboard-tooltip-header {
    @apply flex leading-none h-40 items-center font-bold uppercase tracking-wide text-xs;
    background: var(--bk-header-bg);
    color: var(--bk-header-text);
    > div {
      padding: var(--bk-gap);
    }

    > button {
      @apply ml-auto size-40 flex items-center justify-center;
      color: var(--bk-header-text);

      &:hover {
        background: var(--bk-header-hover);
      }

      svg {
        @apply size-18 fill-current;
      }
    }
  }
}

.bk {
  .bk-artboard-tooltip-info {
    @apply border-t border-t-mono-300 text-sm font-semibold flex justify-between items-center;

    > button {
      @apply text-mono-600 text-sm inline-flex items-center gap-2;
      @apply py-[6px] px-10;
      @apply hover:bg-mono-100;
      @apply border-r border-r-mono-300;

      svg {
        @apply size-18 fill-current;
      }

      &[disabled] {
        @apply pointer-events-none text-mono-300;
      }

      &.bk-is-danger {
        @apply text-red-normal;
        @apply hover:bg-red-light;
        &[disabled] {
          @apply text-red-normal/40;
        }
      }
    }
  }
}
