.bk-html-root.bk-is-artboard,
.bk-html-root.bk-is-artboard .bk-body {
  @apply overflow-hidden h-screen w-screen;
  img {
    @apply pointer-events-none;
  }
}

.bk-html-root {
  --bk-root-offset-left: 0px;
  --bk-root-offset-top: 80px;
  --bk-root-offset-bottom: 0px;
  --bk-actions-height: 50px;
  @screen md {
    --bk-root-offset-top: 50px;
    --bk-actions-height: 50px;
  }
  &.bk-has-sidebar-left {
    --bk-root-offset-left: 70px;
  }
  &.bk-has-sidebar-bottom {
    --bk-root-offset-bottom: 50px;
    @screen md {
      --bk-root-offset-bottom: 70px;
    }
  }
  @apply h-screen w-screen overflow-hidden;
}

.bk-html-root:not(.bk-is-artboard) .bk-main-canvas {
  /* margin-top: var(--bk-root-offset-top); */
  /* margin-left: var(--bk-root-offset-left); */
  /* margin-bottom: var(--bk-root-offset-bottom); */

  @apply fixed;
  top: var(--bk-root-offset-top);
  left: var(--bk-root-offset-left);
  bottom: var(--bk-root-offset-bottom);
  @apply right-0 overflow-auto;
}

.bk-html-root.bk-is-artboard {
  @apply overflow-hidden;

  .bk-body {
    @apply overflow-hidden;
  }
  #nuxt-root {
    @apply bg-slate-200 overflow-hidden absolute  right-0;
    left: var(--bk-root-offset-left);
    top: var(--bk-root-offset-top);
    bottom: var(--bk-root-offset-bottom);
    &.bk-has-preview-open {
      @apply left-[445px];
    }
  }
  .bk-main-canvas {
    @apply shadow-xl absolute top-0 left-0 xl:w-[80vw] w-screen lg:w-full lg:min-w-[1280px] max-w-[1920px] pointer-events-none;
    user-select: none;
    image-rendering: crisp-edges;
    backface-visibility: hidden;
    transform-origin: 0 0;
    transform: translateZ(0);
  }

  .bk-body.bk-is-pressing-space {
    @apply cursor-move;
    .bk-main-canvas,
    .bk-draggable-list-container * {
      @apply !pointer-events-none;
    }
  }

  .bk-artboard-scrollbar {
    @apply fixed right-5 w-10 bg-slate-500/10 z-[100] rounded-full transition overflow-hidden;
    top: calc(var(--bk-root-offset-top) + 5px);
    bottom: calc(var(--bk-root-offset-bottom) + 5px);
    /* @apply opacity-25; */

    button {
      @apply bg-slate-500/50  w-full block rounded-full;
    }

    &.bk-is-active,
    &:hover {
      @apply opacity-100 bg-slate-500/40;
      button {
        @apply bg-slate-600;
      }
    }

    &.bk-is-active button,
    button:hover {
      @apply bg-slate-500;
    }
  }
}

.bk-html-root.bk-is-artboard.bk-has-sidebar-right {
  .bk-artboard-scrollbar {
    @apply right-[305px];
  }
}
