.bk {
  .bk-list {
    @apply pt-5 relative z-20;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .bk-list-item {
    @apply px-10 py-5 w-full cursor-grab;

    &.bk-is-disabled {
      @apply pointer-events-none;
      .bk-list-item-inner {
        @apply bg-slate-900;
      }
      .bk-list-item-label {
        @apply text-slate-700;
      }
      .bk-list-item-icon {
        @apply text-slate-800;
      }
    }
    flex: 0 0 auto;

    &:hover {
      .bk-list-item-inner {
        @apply bg-slate-700 text-white border-slate-400;
      }
      .bk-list-item-label span {
        @apply text-white;
      }
    }
  }

  .bk-list-item-inner {
    @apply relative flex bg-slate-800 text-slate-200 rounded w-full items-center justify-center flex-col text-sm leading-3 p-10 aspect-square z-10 border border-slate-600;
  }

  .bk-list-item-label {
    @apply absolute top-0 left-full whitespace-nowrap p-10 h-full rounded-sm opacity-0 items-center text-slate-100/50 ml-[7px] transition pointer-events-none;
    @apply text-lg font-semibold;
  }

  .bk-list-item-icon {
    @apply text-3xl;
    svg {
      @apply fill-current w-30 h-30;
    }
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.bk-available-paragraphs {
    @apply bg-slate-900 top-50 bottom-0 fixed left-0 w-70 select-none z-[40000];
    &.bk-is-disabled {
      @apply pointer-events-none;
      .bk-list {
        @apply opacity-20;
      }
    }
    &:after {
      @apply absolute top-0 left-full h-full w-[280px] z-0 pointer-events-none border-t;
      @apply opacity-0;
      @apply origin-left scale-x-50;
      @apply transition bg-slate-900;
      content: '';
    }
    &.bk-is-active {
      &:after {
        @apply opacity-100 scale-x-100;
      }
      .bk-list-item-label {
        @apply opacity-100;
      }
    }
  }
}
