.bk {
  .bk-banner {
    @apply bg-scheme-normal text-scheme-text text-xs md:text-base mb-10;
    @apply rounded-md;
    @apply p-10 order-10 shadow-xl overflow-hidden;
    @apply border border-scheme-dark/40;

    @screen lg {
      @apply min-h-[50px] flex items-center;
    }

    > .bk-icon {
      @apply items-center justify-center mr-10 hidden lg:flex;
      svg {
        @apply w-25 h-25 fill-current;
      }
    }

    .bk-banner-close {
      @apply flex items-center lg:justify-center lg:ml-auto font-bold font-sans;
      @apply w-full lg:w-auto text-left mt-5 lg:mt-0;
      @apply text-current;
      @apply text-scheme-light;
      @apply bg-scheme-dark/90 hover:bg-scheme-dark/50;
      @apply py-10 px-10;
      @apply rounded-md;
      @apply gap-5;
      @apply text-base !leading-none;

      svg {
        @apply size-15 fill-current;
      }
    }
  }
}

#bk-banner-list {
  @apply grid px-10;
}

#bk-banner-container {
  @apply fixed z-translations-banner-mobile lg:z-translations-banner-desktop grid;
  left: var(--bk-root-offset-left);
  bottom: var(--bk-root-offset-bottom);
  right: calc(var(--bk-root-offset-right) + var(--bk-artboard-scrollbar-size));
  html.bk-has-sidebar-right & {
    right: calc(var(--bk-root-offset-right) + var(--bk-sidebar-width-right));
  }
}
