.bk-dialog {
  @apply fixed top-0 left-0 w-screen bottom-0  z-dialog lg:p-15;
  @apply flex items-center justify-center;
  .bk-dialog-background {
    @apply absolute top-0 left-0 w-full h-full;
    @apply bg-black md:bg-slate-800/90 md:backdrop-blur-md;
  }

  .bk-dialog-inner {
    @apply w-full lg:min-w-[450px] max-w-screen-xl bg-white shadow-2xl md:rounded-md  relative z-20 max-h-full min-h-0 overflow-hidden h-full lg:h-auto;
    @apply flex flex-col;
    @apply bg-slate-950 md:bg-white;
  }

  .bk-dialog-header {
    @apply flex items-center p-15 lg:p-20 bg-slate-950 text-white md:border-b md:border-b-slate-300 md:bg-slate-100 relative overflow-hidden md:text-slate-800;
    flex: 0 0 auto;
    @apply text-lg md:text-lg xl:text-2xl;
    h3 {
      @apply font-bold font-sans relative z-10;
    }
    button {
      @apply ml-auto h-full;
      svg {
        @apply fill-current w-20 h-20 md:w-30 md:h-30 md:hover:fill-blue-700;
      }
    }

    > .bk-icon {
      @apply w-[1.5em] h-[1.5em] mr-[0.5em] fill-current;
    }
  }
  .bk-dialog-lead {
    @apply text-base md:text-lg lg:text-xl font-sans mb-10 lg:mb-20 text-slate-700;
  }
  .bk-dialog-footer {
    @apply flex gap-10 md:mt-30 p-15 lg:p-20 border-t bg-slate-50;
    flex: 0 0 auto;
    button {
      @apply w-full lg:w-auto;
    }
  }

  .bk-dialog-content {
    @apply overflow-auto flex-1 min-h-0 max-h-full h-full px-15 pt-15 lg:px-20 lg:pt-20 lg:h-auto rounded-t-xl md:rounded-t-none bg-white;
    @apply overscroll-contain;
  }
  .bk-dialog-content-inner {
    min-height: calc(100vh - 160px);
    @apply pb-20;
    @screen md {
      min-height: auto;
      @apply h-auto;
    }
  }
}

.bk-dialog-content-element {
  @apply rounded p-20 min-h-[400px] mb-30 border border-slate-300 flex items-center justify-center;
  &.bk-default-bg {
    @apply bg-slate-50;
  }
}

.bk-message-info {
  @apply font-sans text-base bg-yellow-50 p-10 border border-yellow-400 rounded text-yellow-900 my-20;
}

.bk-slide-up-enter-active,
.bk-slide-up-leave-active {
  @apply transition ease-swing duration-300;
  .bk-dialog-inner {
    @apply transition ease-swing duration-300;
  }
  .bk-dialog-background {
    @apply transition ease-swing duration-300;
  }
}
.bk-slide-up-enter-from,
.bk-slide-up-leave-to {
  .bk-dialog-background {
    @apply opacity-0;
  }
  .bk-dialog-inner {
    @apply translate-y-full lg:translate-y-0 lg:scale-90 lg:opacity-0;
  }
}
