.bk-dragging-overlay {
  /* @apply fixed top-0 left-0 bg-blue-500/25 pointer-events-none rounded outline outline-blue-600 outline-offset-1 z-[999999]; */
  @apply fixed top-0 left-0 pointer-events-none z-[999999] md:border-3 rounded select-none;

  > div {
    @apply absolute top-0 left-0 origin-top-left rounded;
    @apply shadow-xl md:outline md:outline-blue-700 outline-1 rounded bg-white;

    > * {
      margin: 0 !important;
      height: 100% !important;
      @apply !pointer-events-none;
      @apply !select-none;
    }
    @screen md {
      &:before {
        content: '';
        @apply absolute top-0 left-0 w-full h-full bg-blue-500/60 z-[200] rounded;
      }
    }

    &.bk-is-top {
      z-index: 100;
    }
  }
}

.bk.bk-drop-targets {
  @apply absolute top-0 left-0 w-full h-full z-[500000] pointer-events-auto select-none;

  .bk-drop-targets-field {
    @apply absolute top-0 left-0;
  }

  .bk-drop-targets-field-child {
    /* @apply border border-slate-500; */
    @apply border border-transparent;
    @apply absolute rounded;
    /* @apply bg-slate-300/30; */
    @apply transition duration-75;
    @apply flex items-center justify-center;
    @apply text-xs font-semibold uppercase text-slate-500;

    span {
      @apply inline-block bg-blue-500 text-white relative z-50 rounded-full;
    }

    &:before {
      content: '';
      @apply absolute bg-blue-500 top-1/2 left-1/2 w-full h-full -translate-x-1/2 -translate-y-1/2;
      @apply transition pointer-events-none;
    }

    &:after {
      content: '';
      @apply absolute bg-blue-500 pointer-events-none;
    }

    &.bk-is-horizontal {
      &:before {
        @apply scale-x-0;
        @apply max-w-[40px];
      }
      &:after {
        @apply w-3 h-full top-0 left-1/2 -translate-x-1/2;
      }

      span {
        @apply py-[8px];
      }
    }

    &.bk-is-vertical {
      &:before {
        @apply scale-y-0;
      }
      &:after {
        @apply h-3 w-full top-1/2 left-0 -translate-y-1/2;
      }
      span {
        @apply px-[8px];
      }
    }

    &.bk-is-active {
      @apply z-50;
      &:before {
        @apply scale-100;
      }
      span {
        @apply bg-white text-blue-700;
      }
    }

    &.bk-is-horizontal {
      @apply origin-left;
      span {
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }
    }

    &.bk-is-vertical {
      @apply origin-top;
    }
  }
}
