.bk-dragging-overlay {
  @apply fixed bottom-0 lg:bottom-auto lg:top-0 left-0 pointer-events-none z-dragging-overlay rounded select-none;

  > div {
    @apply absolute top-0 left-0 origin-top-left rounded;
    @apply md:outline md:outline-blue-700 outline-1 rounded bg-white;

    > * {
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      margin: 0 !important;
      /* Prevent text wrapping for cloned ghost elements (in particular: buttons). */
      width: calc(100% + 1px) !important;
      @apply !pointer-events-none;
      @apply !select-none !shadow-none;
    }
    @screen md {
      &:before {
        content: '';
        @apply absolute top-0 left-0 w-full h-full bg-blue-500/10 z-50 rounded;
      }
    }

    &.bk-is-top {
      @apply shadow-xl-inverted z-50;
    }
  }
}

.bk.bk-drop-targets {
  @apply absolute top-0 left-0 w-full h-full z-drop-targets pointer-events-auto select-none;

  .bk-drop-targets-field {
    @apply absolute top-0 left-0;
  }

  .bk-drop-targets-field-child {
    @apply border border-transparent;
    @apply absolute rounded;
    @apply transition duration-75;
    @apply flex items-center justify-center;
    @apply text-xs font-semibold uppercase text-slate-500;

    &.bk-is-nested {
      span,
      &:before,
      &:after {
        @apply bg-lime-500;
      }
      &.bk-is-active span {
        @apply bg-lime-600;
      }
    }

    span {
      @apply inline-block bg-blue-500 text-white relative z-50 rounded-full;
    }

    &:before {
      content: '';
      @apply absolute bg-blue-500 top-1/2 left-1/2 w-full h-full -translate-x-1/2 -translate-y-1/2 rounded;
      @apply transition pointer-events-none;
    }

    &:after {
      content: '';
      @apply absolute bg-blue-500 pointer-events-none;
    }

    &.bk-is-horizontal {
      &:before {
        @apply scale-x-0;
        @apply max-w-[40px];
      }
      &:after {
        @apply w-3 h-full top-0 left-1/2 -translate-x-1/2;
      }

      span {
        @apply py-[8px];
      }
    }

    &.bk-is-vertical {
      &:before {
        @apply scale-y-0;
      }
      &:after {
        @apply h-3 w-full top-1/2 left-0 -translate-y-1/2;
      }
      span {
        @apply px-[8px];
      }
    }

    &.bk-is-active {
      @apply z-50;
      &:before {
        @apply scale-100;
      }
      span {
        @apply bg-blue-700;
      }
    }

    &.bk-is-horizontal {
      @apply origin-left;
      span {
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }
    }

    &.bk-is-vertical {
      @apply origin-top;
    }
  }
}
