.bk-dragging-overlay {
  /* @apply fixed top-0 left-0 bg-blue-500/25 pointer-events-none rounded outline outline-blue-600 outline-offset-1 z-[999999]; */
  @apply fixed top-0 left-0 pointer-events-none z-[999999] border-3 rounded;

  > div {
    @apply absolute top-0 left-0 origin-top-left rounded;
    @apply outline outline-blue-700 outline-1 rounded bg-white;

    > * {
      margin: 0 !important;
      height: 100% !important;
    }
    &:before {
      content: '';
      @apply absolute top-0 left-0 w-full h-full bg-blue-500/60 z-[200] rounded;
    }

    &.bk-is-top {
      z-index: 100;
    }
  }
}

.bk.bk-drop-targets {
  @apply absolute top-0 left-0 w-full h-full z-[500000] pointer-events-auto;

  .bk-drop-targets-field {
    @apply absolute top-0 left-0;
  }

  .bk-drop-targets-field-child {
    @apply border border-slate-500 rounded;
    @apply absolute bg-slate-300/30;
    @apply transition duration-75;

    &:before {
      content: attr(data-field-label);
      @apply absolute bottom-full left-0 block rounded-full py-3 px-[8px] mb-5 text-xs font-semibold uppercase;
      @apply bg-slate-200/10 text-slate-400;
    }

    &.bk-is-active {
      @apply bg-blue-700/90 outline outline-white;

      &:before {
        @apply bg-blue-700 text-white;
      }
    }

    &.bk-is-horizontal {
      @apply origin-left;
      &.bk-is-active {
        /* @apply scale-x-150; */
      }
    }

    &.bk-is-vertical {
      @apply origin-top;
      &.bk-is-active {
        /* @apply scale-y-150; */
      }
    }
  }
}
