.bk-editable-field {
  --bk-bg: white;
  --bk-header-bg: theme('colors.teal.normal');
  --bk-header-text: theme('colors.teal.dark');
  --bk-border: theme('colors.teal.normal');
  --bk-header-hover: rgb(var(--bk-theme-teal-dark) / 0.2);

  .bk-editable-field-input {
    @apply w-full min-w-[360px] max-w-[700px];
    @screen md {
      @apply rounded;
    }

    .bk-editable-field-textarea {
      @apply relative;
      @screen lg {
        @apply min-w-[500px];
      }
    }

    textarea {
      @apply appearance-none resize-none block p-10;
      @apply outline-none shadow-none border-none;
      @apply focus:!outline-none focus:!shadow-none focus:!border-none focus:!ring-0 bg-transparent;
      @apply min-h-[50px] w-full;
      @apply text-base lg:text-lg;
      @apply absolute top-0 left-0 h-full;
    }
  }
  .bk-editable-field-info-error {
    @apply text-red-normal px-10 ml-auto;
  }
  .bk-editable-field-info-hint {
    @apply px-10 font-normal text-right ml-auto text-mono-500 text-xs;
  }
  .bk-editable-field-info-count {
    @apply px-10 h-[32px] flex items-center border-l border-l-mono-300;
  }
}

.bk-editable-field-contenteditable {
  @apply p-10;

  > div {
    @apply focus:outline-none;
  }
}

.bk-editable-field-frame iframe {
  @apply block w-full;
  max-height: calc(100vh - 500px);

  @screen lg {
    @apply min-w-[500px];
    min-height: 300px;
  }

  @screen xl {
    @apply min-w-[700px];
  }
}
