.bk-form-label {
  @apply !block !mb-10 !text-base !font-semibold !text-mono-900 !font-sans;
}

.bk-form-input {
  @apply !bg-white !border !border-mono-400 !text-mono-900 !rounded-md focus:!outline-none focus:!border-transparent !block !w-full !p-10 !font-sans !text-base;
  @apply focus:ring-[3px] focus:ring-accent-700;

  &[disabled] {
    @apply !bg-mono-50 cursor-not-allowed;
  }
  &.bk-is-invalid {
    @apply ring-[3px] ring-red-normal/40 !border-red-normal;
  }
}
.bk {
  .bk-checkboxes {
    &.bk-is-inline {
      @apply flex flex-wrap gap-25;
    }
  }
  .bk-checkbox,
  .bk-radio {
    @apply flex items-start cursor-pointer py-5 hover:text-accent-600 relative text-balance;
    input {
      @apply absolute opacity-0;
    }

    &:has(input[disabled]) {
      @apply pointer-events-none;
    }

    input[disabled]:checked + span:before {
      @apply !bg-mono-400;
    }

    input:checked ~ span:before {
      @apply bg-accent-700;
    }
    input + span {
      @apply font-semibold flex mt-[2px];
      &:before {
        content: '';
        @apply shrink-0 w-[18px] h-[18px] text-accent-600 bg-mono-100 border border-mono-400 focus:ring-accent-100 focus:ring-2 outline-none rounded block mr-[6px];
        @apply mt-[2px];
      }
    }
  }

  .bk-required-indicator {
    @apply text-red-normal font-bold;
  }

  .bk-radio {
    @apply flex-wrap;
    .bk-radio-description {
      @apply w-full pl-[24px];
    }
    span:before {
      @apply !rounded-full;
    }
    input:checked ~ span:before {
      box-shadow: inset 0 0 0 3px white;
    }
  }
  .bk-checkbox {
    input:checked ~ span:before {
      background-image: url('/_blokkli-assets/check.svg');
      background-size: 80% 80%;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .bk-form-section {
    &:not(:first-child) {
      @apply mt-30;
    }
  }

  .bk-form-description {
    @apply text-sm text-mono-500 mt-10;
  }

  .bk-form-item {
    @apply py-15 border-y border-y-mono-200;

    &:last-child {
      @apply border-b-0 pb-0;
    }

    &:first-child {
      @apply border-t-0 pt-0;
    }
  }

  .bk-form-item + .bk-form-item {
    @apply border-t-0;
  }

  .bk-form-group {
    container-type: inline-size;
  }

  .bk-form-group + .bk-form-group {
    @apply mt-30 lg:mt-50;
  }

  .bk-form-group-title {
    @apply font-bold text-lg mb-10 lg:text-xl;
  }

  .bk-radio-tabs {
    @apply flex border border-scheme-normal rounded overflow-hidden;

    label {
      @apply flex-1 text-center cursor-pointer relative;

      &:not(:last-child) {
        @apply border-r border-r-scheme-normal;
      }

      input {
        @apply absolute opacity-0 pointer-events-none;
      }

      span {
        @apply block pt-10 pb-[9px] px-5 text-sm font-semibold text-scheme-normal transition-colors whitespace-nowrap leading-none;
      }

      &:has(input:checked) {
        span {
          @apply bg-scheme-normal text-white;
        }
      }
      &:not(:has(input:checked)) {
        &:hover {
          span {
            @apply bg-scheme-light;
          }
        }
      }

      &:has(input:disabled) {
        @apply opacity-50 cursor-not-allowed;
      }
    }
  }

  .bk-form {
    container-type: inline-size;

    @container (min-width: 700px) {
      .bk-form-group.bk-is-horizontal {
        .bk-form-group-title {
          @apply flex items-center !mt-0;
        }
        .bk-form-item:last-child {
          @apply pb-0;
        }
        @apply grid grid-cols-[250px_1fr] py-15 mt-0 items-start;
        @apply border-t border-t-mono-300;
        &:first-child {
          @apply border-t-0 pt-0;
        }
        .bk-form-group-title {
          @apply mt-15;
        }
        .bk-form-item {
          &:first-child {
            @apply border-t-0;
          }

          &:last-child {
            @apply border-b-0;
          }
        }
      }
    }
  }
}
