@keyframes bk-message-timer {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

.bk.bk-messages {
  @apply fixed z-[9000] right-0;
  left: var(--bk-root-offset-left);
  bottom: var(--bk-root-offset-bottom);

  .bk-message {
    @apply p-20 w-full text-white font-bold text-lg text-center relative;

    &.bk-has-timer {
      &:before {
        content: '';
        @apply h-5 bg-white/50 absolute bottom-0 left-0 w-full origin-top-left;
        animation: 6.1s bk-message-timer linear;
      }
    }

    &.bk-is-success {
      @apply bg-green-600 hover:bg-green-700;
    }
    &.bk-is-error {
      @apply bg-red-600 hover:bg-red-700;
    }
  }
}

.bk-message-enter-active,
.bk-message-leave-active {
  @apply transition;
}
.bk-message-enter-from,
.bk-message-leave-to {
  @apply translate-y-full;
}
