@keyframes bk-message-timer {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

.bk.bk-messages {
  @apply overflow-hidden;
  .bk-message {
    @apply relative flex items-center flex-col md:flex-row;

    &.bk-has-timer {
      &:before {
        content: '';
        @apply h-5 bg-white/50 absolute bottom-0 left-0 w-full origin-top-left;
        animation: 6.1s bk-message-timer linear;
      }
    }

    &.bk-is-success {
      @apply bg-lime-normal;
    }
    &.bk-is-error {
      @apply bg-red-normal;
    }
  }
  .bk-message-content {
    @apply p-20 text-white font-bold text-lg text-center relative flex-1 lg:text-2xl;
    @apply hover:bg-red-dark/15;
  }
  .bk-message-additional {
    @apply text-base font-normal lg:text-xl;
  }
  .bk-message-actions {
    @apply p-10;
    button {
      @apply border-red-light/60 border hover:border-red-dark;
    }
  }
}

.bk.bk-message-error {
  @apply bg-mono-100 p-20 select-text;
}
