.bk {
  .bk-multi-select-area {
    @apply fixed top-0 left-0 pointer-events-none z-30 cursor-crosshair;
    rect {
      @apply stroke-slate-400 stroke-[2];
      stroke-dasharray: 4 4;
      stroke-dashoffset: 100;
      animation: 0.1s bkSelectArea infinite;
      animation-timing-function: linear;
    }
  }

  .bk-multi-select-rectangle {
    @apply absolute top-0 left-0 pointer-events-none;

    &:not(.bk-is-active) {
      @apply outline-dashed outline-2;
    }

    &.bk-is-active {
      /* @apply bg-blue-500/20; */
      background-color: var(--bk-tw-ring-color);
    }
  }
}

.bk-multi-select-hidden {
  display: none !important;
}

.bk-multi-select-anchor {
  @apply absolute w-0 h-0 pointer-events-none;
}

@keyframes bkSelectArea {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 8;
  }
}
