.bk {
  .bk-publish-dialog-table {
    td,
    th {
      &:nth-child(n + 2) {
        @apply text-right whitespace-nowrap pl-18;
      }

      &:first-child {
        @apply w-full;
      }
    }

    tr:has(input:checked) td {
      @apply bg-mono-100;
    }

    tr.bk-is-success {
      td {
        @apply !bg-lime-light/40;
      }

      input:checked + span {
        &:before {
          @apply !bg-lime-normal/50;
        }
      }
    }

    tr.bk-is-error {
      td {
        @apply !bg-red-normal/10;
      }

      input:checked + span {
        &:before {
          @apply !bg-red-normal/90;
        }
      }
    }

    td.bk-is-status {
      > div {
        @apply w-[60px];
        @apply flex items-center justify-end gap-10;
      }
    }

    tbody {
      td:first-child {
        @apply pl-3;
      }
    }

    .bk-icon-arrow-right-thin svg {
      @apply size-15;
    }

    .bk-icon-loader svg {
      @apply w-30 h-30 fill-mono-500 mr-15;
    }

    .bk-status-indicator {
      @apply mx-0;
    }
  }
  .bk-publish-dialog-table + .bk-publish-dialog-table {
    @apply mt-40;
  }

  .bk-dialog-publish-form {
    .bk-heading-2 {
      @apply font-bold text-xl mb-10;
    }
  }

  .bk-pill {
    @apply bg-accent-100 inline-block text-accent-800 ml-5 rounded-full px-[7px] pt-[2px] uppercase text-xs font-semibold;

    &.bk-is-mono {
      @apply bg-mono-100 text-mono-500;
    }
  }

  .bk-publish-options {
    @apply grid grid-cols-3 gap-10 my-20;
  }

  .bk-publish-option {
    @apply relative grid grid-cols-[auto_1fr] gap-15 items-center leading-none cursor-pointer hyphens-auto;

    &.bk-is-disabled {
      @apply pointer-events-none;
      .bk-publish-option-icon {
        @apply !border-mono-300 !text-mono-300;
      }

      .bk-publish-option-label {
        @apply text-mono-300;
      }

      .bk-publish-option-description {
        @apply text-mono-300;
      }
    }

    input {
      @apply appearance-none absolute top-0 left-0 opacity-0;
    }
    &:has(input:checked) {
      .bk-publish-option-label {
        @apply text-mono-950;
      }
      .bk-publish-option-icon-check {
        @apply visible;
      }
    }

    &.bk-is-red {
      .bk-publish-option-icon {
        @apply border-red-normal text-red-normal;
      }
      &:hover {
        .bk-publish-option-icon {
          @apply bg-red-light;
        }
      }
      &:has(input:checked) {
        .bk-publish-option-icon {
          @apply bg-red-normal text-red-light border-red-dark;
          @apply ring-4 ring-red-normal/30;
          @apply outline outline-[1px] outline-red-dark/60;
        }
      }
    }

    &.bk-is-yellow {
      .bk-publish-option-icon {
        @apply border-yellow-normal text-yellow-normal;
      }
      &:hover {
        .bk-publish-option-icon {
          @apply bg-yellow-light;
        }
      }
      &:has(input:checked) {
        .bk-publish-option-icon {
          @apply bg-yellow-normal text-white;
          @apply ring-4 ring-yellow-normal/30;
          @apply outline outline-[1px] outline-yellow-dark/70;
        }
      }
    }

    &.bk-is-lime {
      .bk-publish-option-icon {
        @apply border-lime-normal text-lime-normal;
      }
      &:hover {
        .bk-publish-option-icon {
          @apply bg-lime-light;
        }
      }
      &:has(input:checked) {
        .bk-publish-option-icon {
          @apply outline outline-4 outline-lime-normal/30 bg-lime-normal text-white;
          @apply ring-4 ring-lime-normal/30;
          @apply outline outline-[1px] outline-lime-dark;
        }
      }
    }
  }

  .bk-publish-option-icon {
    @apply border rounded-full flex items-center justify-center gap-10 relative;
    @apply size-[60px];

    > .bk-icon {
      @apply size-30;
      svg {
        @apply size-full fill-current;
      }
    }
  }

  .bk-publish-option-icon-check {
    @apply absolute top-[-1px] right-[-9px] invisible flex items-center justify-center;
    @apply size-20;
    @apply bg-mono-950;
    @apply rounded-full;

    .bk-icon {
      svg {
        @apply size-[13px] text-white fill-current;
      }
    }
  }

  .bk-publish-option-label {
    @apply font-bold text-lg !leading-none;
  }
  .bk-publish-option-description {
    @apply text-mono-600 text-sm mt-3 leading-tight text-balance;
  }

  .bk-publish-schedule-date-wrapper {
    @apply flex gap-20 items-stretch;

    .bk-publish-scheduled-display {
      @apply flex-1 flex items-center font-bold text-xl;
      @apply bg-yellow-light text-yellow-dark pl-10 rounded-md;
      @apply border border-yellow-normal;
      @apply tabular-nums;
    }

    .bk-button {
      @apply whitespace-nowrap shrink;
    }
  }

  .bk-schedule-date {
    @apply flex-1 flex gap-20;
  }

  .bk-schedule-date-picker {
    @apply w-[300px] shrink-0;
  }

  .bk-schedule-date-time {
    @apply flex-1;

    .bk-form-label {
      @apply mb-5;
    }

    input[type='time'] {
      @apply w-full;
    }
  }

  .bk-schedule-date-presets {
    @apply flex gap-10 mb-15;

    .bk-button {
      @apply flex-1;
    }
  }

  .bk-schedule-date-info {
    @apply mt-15;
  }

  .bk-publish-summary {
    @apply flex items-start justify-around pt-25;
  }

  .bk-publish-summary-state,
  .bk-publish-summary-action {
    @apply flex flex-col items-center flex-1;
  }

  .bk-publish-summary-state-icon,
  .bk-publish-summary-action-icon {
    @apply size-60 rounded-full flex items-center justify-center border;

    .bk-icon {
      @apply size-30;
      svg {
        @apply size-full fill-current;
      }
    }
  }

  .bk-publish-summary-state-icon {
    &.bk-is-published {
      @apply bg-lime-light border-lime-normal text-lime-dark;
    }

    &.bk-is-unpublished {
      @apply bg-red-light border-red-normal text-red-dark;
    }
  }

  .bk-publish-summary-state-label,
  .bk-publish-summary-action-label {
    @apply text-base font-bold text-mono-700 text-center mt-5;
  }

  .bk-publish-summary-arrow {
    @apply flex items-center h-60;
    .bk-icon {
      @apply size-40;
      svg {
        @apply size-full fill-mono-400;
      }
    }
  }

  .bk-publish-summary-action-icon {
    &.bk-is-save {
      @apply bg-red-normal border-red-dark text-white;
    }

    &.bk-is-scheduled {
      @apply bg-yellow-normal border-yellow-dark text-white;
    }

    &.bk-is-publish {
      @apply bg-lime-normal border-lime-dark text-white;
    }
  }
}
.bk.bk-is-publish-dialog {
  .bk-dialog-content {
    min-height: calc(100vh - 300px);
  }
  .bk-form-item {
    @apply py-20 first:pt-0;
  }
}
