.bk-resizable {
  @apply absolute left-0 w-full;
  @screen md {
    @apply relative w-auto;
  }
  &.bk-is-resizing {
    @apply cursor-ew-resize;
    .bk-resizable-inner {
      @apply pointer-events-none;
    }
    .bk-resizable-handle {
      @apply opacity-100;
    }
  }
  .bk-resizable-handle {
    @apply hidden;
    @screen md {
      @apply block;
      @apply absolute top-0 -left-10 w-[20px] h-full cursor-ew-resize  opacity-50 hover:opacity-100 transition z-[5000];
      &:hover:before {
        @apply bg-slate-400/40;
      }
      &:before {
        content: '';
        @apply bg-slate-400/25 absolute top-0 h-full left-10 w-[12px];
      }
      &:after {
        content: '';
        @apply absolute top-1/2 -translate-y-1/2 h-100 w-[5px] left-[13px] bg-slate-100 border-x-2 border-x-slate-400;
      }
    }
  }
}

.bk-drupal-modal {
  @apply fixed left-0 top-0 w-full h-full z-[990000];
  .bk-drupal-modal-background {
    @apply absolute left-0 top-0 w-full h-full;
  }
  .bk-drupal-modal-resizable {
    @apply ml-auto h-full bg-white shadow-2xl;
    .bk-drupal-modal-iframe {
      @apply flex-1 relative;
      iframe {
        @apply absolute top-0 left-0 w-full h-full;
      }
    }
  }
  .bk-resizable-inner {
    @apply h-full flex flex-col;
  }
}

.bk-drupal-modal-header {
  @apply pl-20 border-b flex items-center text-base font-bold h-50 bg-slate-900 text-white gap-10 relative z-[6000];
  button {
    @apply w-50 h-50 flex items-center justify-center hover:bg-slate-700 ml-auto;
    svg {
      @apply fill-current w-25 h-25;
    }
  }
}

.bk-slide-in-enter-active,
.bk-slide-in-leave-active {
  transition: 0.2s ease-in-out;
  .bk-drupal-modal-background {
    transition: 0.2s ease-in-out;
  }
  .bk-resizable {
    transition: 0.2s ease-in-out;
  }
}
.bk-slide-in-enter-from,
.bk-slide-in-leave-to {
  .bk-drupal-modal-background {
    @apply opacity-0;
  }
  .bk-resizable {
    @apply translate-y-full md:translate-x-full md:translate-y-0;
  }
}

.bk-fade-enter-active,
.bk-fade-leave-active {
  transition: 0.2s ease-in-out;
}
.bk-fade-enter-from,
.bk-fade-leave-to {
  @apply opacity-0;
}
