.bk.bk-selection-add-overlay {
  --bk-item-width: 270px;
  --bk-columns: 2;
  --bk-bg: theme('colors.mono.900');
  --bk-header-bg: theme('colors.mono.800');
  --bk-header-hover: theme('colors.mono.700');
  --bk-header-text: theme('colors.mono.100');
  --bk-border: theme('colors.mono.500');

  .bk-artboard-tooltip-inner {
    @apply text-white;
  }

  .bk-selection-add-overlay-list {
    @apply flex flex-wrap max-h-[60vh] overflow-auto lg:max-h-[500px];
    padding: var(--bk-gap);
    gap: var(--bk-gap);
    max-width: calc(
      var(--bk-gap) * 2 + var(--bk-item-width) * var(--bk-columns) +
        var(--bk-gap) * (var(--bk-columns) - 1) + 10px
    );
    button {
      width: var(--bk-item-width);
      .bk-add-item-label {
        @apply pl-10;
      }
    }
  }
}
