.bk-sidebar {
  @apply fixed top-50 right-0 bg-white w-[300px]  z-[30000];
  bottom: var(--bk-root-offset-bottom);
  box-shadow:
    -1px -0px 2px rgb(20 45 82 / 2%),
    -3px -0px 4px rgb(20 45 82 / 3%),
    -5px -0px 8px rgb(20 45 82 / 4%);

  &:empty {
    @apply hidden;
  }
}

.bk-sidebar-inner {
  @apply h-full flex flex-col;
}
.bk-sidebar-title {
  @apply !font-bold !text-xl !font-sans !p-20 !border-b !border-b-slate-300;
}

.bk-sidebar-content {
  @apply flex-1;
  overflow: auto;
}
