.bk-sidebar {
  @apply fixed bg-white w-full z-sidebar;
  &.bk-is-right {
    @apply right-0 md:w-[351px];
    box-shadow:
      -1px -0px 2px rgb(20 45 82 / 2%),
      -3px -0px 4px rgb(20 45 82 / 3%),
      -5px -0px 8px rgb(20 45 82 / 4%);
  }
  &.bk-is-left {
    @apply md:w-[400px];
    left: var(--bk-root-offset-left-add-list);
    box-shadow:
      1px -0px 2px rgb(20 45 82 / 2%),
      3px -0px 4px rgb(20 45 82 / 3%),
      5px -0px 8px rgb(20 45 82 / 4%);
  }
  top: var(--bk-root-offset-top);
  bottom: 0;

  @screen md {
    bottom: var(--bk-root-offset-bottom);
  }

  &:empty {
    @apply hidden;
  }

  &.bk-is-hidden {
    @apply opacity-0 pointer-events-none;
  }
  .bk-sidebar-inner {
    @apply h-full flex flex-col;
  }

  .bk-sidebar-title {
    @apply !font-semibold !font-sans !pl-15 md:!pl-20 !border-b !border-b-slate-300 flex justify-between items-center h-50;
    @apply select-none;
    button {
      @apply h-full px-15 text-slate-700 hover:bg-slate-100 hover:text-slate-900;
      svg {
        @apply w-[1em] h-[1em] fill-current;
      }
    }
  }
}

.bk-sidebar-content-wrapper {
  @apply flex-1 relative overflow-hidden;
}
.bk-sidebar-content {
  @apply absolute top-0 left-0 w-full h-full overflow-auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.bk-sidebar-padding {
  @apply p-15 lg:p-20;
}

.bk-sidebar-detached {
  @apply fixed top-0 left-0 bg-white z-sidebar-detached rounded-md shadow-md flex flex-col overflow-hidden;
  @apply border border-slate-400;
  &.bk-is-focused {
    @apply shadow-xl;
    .bk-sidebar-title {
      @apply bg-slate-800 text-white;

      button:hover {
        @apply bg-slate-700;
      }
    }
  }
  &:not(.bk-is-focused) {
    .bk-sidebar-detached-inner {
      button,
      li,
      a,
      input,
      textarea {
        @apply pointer-events-none;
      }
    }
  }

  .bk-sidebar-title {
    @apply cursor-move;
    @apply flex bg-slate-200 select-none pl-10 font-semibold text-sm h-40 items-center text-slate-500;

    > .bk-icon {
      @apply w-20 h-20 mr-5;
      svg {
        @apply fill-current;
      }
    }

    button {
      @apply ml-auto w-40 h-40 flex items-center justify-center;
      &:hover {
        @apply bg-slate-400;
      }
      svg {
        @apply w-20 h-20 fill-current;
      }
    }
  }
}

.bk-sidebar-detached-inner {
  @apply h-full flex flex-col relative;
}

.bk-sidebar-detached-handle {
  @apply absolute z-50;

  &.bk-is-bottom {
    @apply bottom-0 h-10 w-full cursor-ns-resize;
  }
  &.bk-is-right {
    @apply right-0 h-full w-10 cursor-ew-resize;
  }
  &.bk-is-bottom-right {
    @apply right-0 bottom-0 h-10 w-10 cursor-se-resize;
  }
}

html.bk-is-sidebar-interacting {
  .bk-sidebar-detached,
  iframe,
  button,
  input,
  textarea,
  a {
    @apply !pointer-events-none;
  }
}
