.bk {
  .bk-templates-manage-table-actions {
    > div {
      @apply flex gap-10 justify-end;
    }
  }

  .bk-templates-manage {
    min-height: 80vh;
    @apply select-text relative;
    @apply mt-25;
    .bk-form-group {
      @apply mt-20 mb-30;
    }
    .bk-table {
      @apply mt-40;
      thead {
        th:last-child {
          @apply text-right;
        }
      }

      .bk-pill-list {
        @apply mt-8;
      }

      tbody {
        tr {
          @apply hover:bg-mono-50;
        }
        td {
          @apply py-15;
        }
        td:first-child {
          div:first-child {
            @apply font-bold text-lg;

            .bk-pill {
              @apply ml-5;
            }
          }
        }
      }
    }
  }
}
