.bk {
  .bk-templates-manage-table-actions {
    > div {
      @apply flex gap-10 justify-end;
    }
  }

  .bk-templates-manage {
    min-height: 80vh;
    @apply select-text relative;
    .bk-form-group {
      @apply mt-20 mb-30;
    }
    .bk-table {
      thead {
        th:last-child {
          @apply text-right;
        }
      }

      tbody {
        tr {
          @apply hover:bg-mono-50;
        }
        td {
          @apply py-15;
        }
        td:first-child {
          div:first-child {
            @apply font-bold text-lg;
          }
        }
      }
    }
  }
}
