.bk {
  &.bk-top {
    @apply bg-slate-900;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50000;
  }

  &.bk-toolbar {
    @apply select-none;
  }

  .bk-toolbar-tabs {
    @apply flex h-full relative;
    .bk-tooltip {
      @apply absolute top-full left-0 right-3 mt-3;
    }
    button {
      @apply flex text-slate-300 h-full focus:outline-none flex-1 items-center px-10 gap-10 aspect-square justify-center;
      @apply hover:bg-slate-700;
      &.is-active {
        @apply bg-white text-slate-900;
        .bk-tooltip {
          @apply hidden;
        }
      }
      svg {
        @apply fill-current w-20 h-20 pointer-events-none;
      }

      &[disabled] {
        @apply pointer-events-none opacity-25;
      }
      &:not(:hover) {
        .bk-tooltip {
          @apply hidden;
        }
      }
    }
  }
  .bk-tooltip {
    @apply bg-slate-800/80 backdrop-blur p-5 text-slate-50 font-semibold text-sm rounded select-none pointer-events-none h-[34px] flex items-center justify-between px-10 leading-none whitespace-nowrap;
    kbd {
      @apply font-sans text-xs flex ml-5;
    }
    > kbd {
      @apply gap-5;
    }
    > kbd > kbd {
      @apply bg-slate-500 px-5 text-slate-100 rounded h-[18px] flex items-center min-w-[18px] justify-center;
    }
  }
  .bk-toolbar-menu {
    @apply relative z-[13000] h-full;
  }

  .bk-toolbar-menu-button {
    @apply bg-blue-700 w-70 flex items-center justify-center text-slate-50 h-full focus:outline-none relative z-50 transition;
    @apply hover:bg-blue-800;

    &.bk-is-active {
      @apply bg-white text-blue-700;
    }

    svg {
      @apply w-50 h-40 fill-current pointer-events-none;
    }
  }

  .bk-toolbar-menu-overlay {
    @apply fixed top-0 left-0 w-screen h-screen z-[12000];
  }
  .bk-toolbar-menu-list {
    @apply fixed top-0 left-0 bg-white shadow-lg bottom-0 pt-50 flex flex-col;
    &:before {
      content: '';
      @apply absolute top-0 left-0 w-full h-50 bg-white;
    }
    > div {
      @apply grid;
      @apply border-t border-t-slate-200;
    }
    #bk-toolbar-menu-secondary {
      @apply mt-auto;
    }
  }
  .bk-toolbar-menu-list-button {
    @apply grid items-center pl-15 pr-20 py-15 gap-x-15 w-full text-left whitespace-nowrap text-slate-950;
    @apply hover:bg-slate-100;
    @apply border-b border-b-slate-200;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    &[disabled] {
      @apply pointer-events-none;
      .bk-toolbar-menu-list-icon {
        @apply bg-white border-slate-100 text-slate-300;
      }
      span,
      strong {
        @apply text-slate-400;
      }
    }
    strong {
      @apply font-semibold;
    }
    span {
      grid-column: 2;
      @apply text-slate-700 text-sm;
    }

    &:not([disabled]).bk-is-danger {
      .bk-toolbar-menu-list-icon {
        @apply bg-red-50 text-red-800 border-red-200;
      }
      &:hover {
        .bk-toolbar-menu-list-icon {
          @apply bg-red-200 text-red-900 border-red-400;
        }
      }
    }

    &:not([disabled]).bk-is-success {
      .bk-toolbar-menu-list-icon {
        @apply bg-green-50 text-green-800 border-green-300;
      }
      &:hover {
        .bk-toolbar-menu-list-icon {
          @apply bg-green-200 text-green-900 border-green-400;
        }
      }
    }

    &:hover {
      .bk-toolbar-menu-list-icon {
        @apply bg-slate-200 text-slate-900 border-slate-500;
      }
    }
  }
  .bk-toolbar-menu-list-icon {
    @apply w-50 h-50 flex items-center justify-center bg-slate-100 rounded text-slate-500 border border-slate-300;
    grid-column: 1;
    grid-row: 1 / -1;
    svg {
      @apply w-25 h-25 fill-current pointer-events-none;
    }
  }

  .bk-toolbar-button {
    @apply text-slate-200 flex gap-5 items-center px-10 min-w-[50px] justify-center;
    @apply hover:bg-slate-700;

    &.bk-is-inactive {
      @apply text-slate-600;
    }

    &.bk-is-zoom {
      @apply w-100 justify-between px-15;
    }

    &[disabled] {
      @apply pointer-events-none text-slate-700;
    }
    svg {
      @apply w-20 h-20 fill-current;
    }
    &.is-active {
      @apply bg-white text-slate-900;
      .bk-tooltip {
        @apply hidden;
      }
    }
    &.bk-is-active-underline {
      box-shadow: inset 0 -2px 0 0 white;
    }
    &:not(:hover) {
      .bk-tooltip {
        @apply hidden;
      }
    }
    .bk-tooltip {
      @apply absolute top-full left-0 mt-3;
      min-width: calc(100% - 3px);
    }
  }

  .bk-toolbar-area.bk-is-menu + .bk-toolbar-container .bk-tooltip {
    @apply left-3;
  }

  &.bk-toolbar {
    @apply flex h-50 text-base;
  }

  .bk-toolbar-container {
    @apply relative flex h-full;
    &.bk-is-title {
      @apply flex-1;

      .bk-toolbar-button {
        @apply w-full justify-start relative;
        .bk-tooltip {
          @apply w-auto min-w-0;
        }
        &:not(:hover) {
          .bk-tooltip {
            @apply hidden;
          }
        }
        .bk-toolbar-title {
          @apply relative w-full h-full;
          > div {
            @apply min-w-0 overflow-ellipsis overflow-hidden absolute top-1/2 left-0 w-full whitespace-nowrap -translate-y-1/2 text-left;
          }
        }
      }
      strong {
        @apply text-slate-100;
      }
    }
    + .bk-toolbar-container {
      @apply border-l border-l-slate-600;
    }
  }
  .bk-status-indicator {
    @apply w-[11px] h-[11px] inline-block bg-red-500 rounded-full shrink-0 mr-[8px];
    &.bk-is-success {
      @apply bg-green-500;
    }
    &.bk-is-warning {
      @apply bg-yellow-400;
    }
  }

  .bk-feature-canvas-button {
    @apply flex h-full items-center justify-center min-w-[50px];
  }
}

.bk-menu-enter-active,
.bk-menu-leave-active {
  transition: 0.2s ease-in-out;
}
.bk-menu-enter-from,
.bk-menu-leave-to {
  transform: translateX(-100%);
}

.bk-slide-up-enter-active,
.bk-slide-up-leave-active {
  transition: 0.3s ease-in-out;
  .bk-dialog-inner {
    transition: 0.3s ease-in-out;
  }
  .bk-dialog-background {
    transition: 0.3s ease-in-out;
  }
}
.bk-slide-up-enter-from,
.bk-slide-up-leave-to {
  .bk-dialog-background {
    @apply opacity-0;
  }
  .bk-dialog-inner {
    @apply scale-90 opacity-0;
  }
}
