.bk-html-root.bk-is-artboard,
.bk-html-root.bk-is-artboard .bk-body {
  @apply overflow-hidden h-screen w-screen;
}

.bk-html-root.bk-is-artboard {
  @apply overflow-hidden;

  .bk-body {
    @apply overflow-hidden;
  }

  #nuxt-root {
    @apply bg-mono-200 overflow-hidden fixed right-0;
    left: 0;
    top: 0;
    bottom: 0;
    contain: strict;
    &.bk-has-preview-open {
      @apply left-[445px];
    }
  }
}
