.bk-html-root {
  --bk-root-offset-left-sidebar: 0px;
  --bk-root-offset-left-add-list: 0px;
  --bk-root-offset-left: calc(
    var(--bk-root-offset-left-sidebar) + var(--bk-root-offset-left-add-list)
  );
  --bk-root-offset-top: 80px;
  --bk-root-offset-bottom: 0px;
  --bk-root-offset-right: 0px;
  --bk-actions-height: 50px;
  --bk-panel-gap: 10px;
  @variant lg {
    --bk-root-offset-top: 50px;
    --bk-root-offset-right: 50px;
  }
  &.bk-has-add-list-left {
    --bk-root-offset-left-add-list: 70px;
  }
  &.bk-has-sidebar-left {
    --bk-root-offset-left-sidebar: 400px;
  }

  &.bk-has-add-list-bottom {
    --bk-root-offset-bottom: 50px;
    @variant lg {
      --bk-root-offset-bottom: 70px;
    }
  }
}
