.bk-scrollbar-dark {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    @apply bg-mono-800;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-mono-600 border-0;
    border-radius: 0px;
  }
}

.bk-scrollbar-light {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    @apply bg-mono-300;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-mono-500 border-0;
    border-radius: 0px;
  }
}
