.bk {
  .bk-batch-rewrite-list {
    @apply flex flex-col divide-y divide-mono-300;
  }

  .bk-batch-rewrite-item {
    @apply relative;

    .bk-batch-rewrite-item-header {
      @apply flex items-center bg-mono-100;
    }

    .bk-checkbox {
      @apply shrink-0 flex-1 p-10 select-none hover:bg-mono-200;
      span {
        @apply text-sm mt-0 leading-[18px];
        &:before {
          @apply mt-0;
        }
      }
    }

    .bk-batch-rewrite-item-locate {
      @apply shrink-0 size-[36px] flex items-center justify-center;
      @apply text-mono-400 hover:text-mono-800 rounded;

      svg {
        @apply size-[18px];
      }
    }

    &.bk-is-deselected {
      .bk-batch-rewrite-preview {
        @apply opacity-50;
      }
    }
  }

  .bk-batch-rewrite-preview {
    @apply px-10 py-5 text-sm text-mono-600;
    @apply overflow-hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .bk-batch-rewrite-field {
    @apply text-xs font-medium text-mono-700 mb-3;
  }

  .bk-batch-rewrite-reason {
    @apply w-full px-10 pb-10;
    min-height: auto;

    textarea {
      @apply !text-sm !py-10 !px-10;
    }
  }
}
